@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --light-purple: #676586;
  --dark-purple: #3e3d51;
  --black: #070709;
  --blue: #213c75;
  --white: #c2e0eb;

  --font-marmelad: 'Marmelad', sans-serif;
  --font-roboto: 'Roboto Mono', monospace;

  --font-huge: 54px;
  --font-regular: 16px;
  --font-tiny: 12px;
}

/* base + layout */

.reset {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#header-container {
  width: 100%;
}

header {
  margin: 50px 75px;
}

hr {
  width: 100%;
}

#central-section {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 50px);
  overflow-y: scroll;
  padding: 0 50px;
}

#chosen {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  align-items: center;
  padding: 0 30px;
  margin-left: 30px;
}

#links-container {
  grid-column: 2 / 5;
  grid-row: 2 / -1;
  margin-left: 30px;
  box-sizing: border-box;
  overflow-y: scroll;
}

#nav {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-wrapper {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  position: relative;
}

.nav-section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 30px;
  gap: 10px;
}

.nav-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
}

footer {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}

/* module */
.link {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  margin: 0 50px 0 0;
  vertical-align: middle;
  font-size: var(--font-size-regular);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
  border-bottom: 2px dotted var(--blue);
  padding: 2px 8px;
}

#chosen::-webkit-scrollbar {
  display: none;
}

#chosen {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#links-container::-webkit-scrollbar {
  display: none;
}

#links-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-section::-webkit-scrollbar {
  display: none;
}

.nav-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* theme */
body {
  font-size: var(--font-regular);
  font-family: var(--font-roboto);
  color: var(--white);
  background-color: var(--black);
}

header p {
  font-size: var(--font-huge);
  font-family: var(--font-marmelad);
}

hr {
  border: 3px solid var(--blue);
}

#chosen {
  border-bottom: 2px dashed var(--blue);
  border-top: 2px dashed var(--blue);
}

#chosen .tag {
  padding: 3px 10px;
}

.nav-section {
  border-top: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
}

.nav-title {
  font-size: var(--font-tiny);
  background-color: var(--dark-purple);
  border-bottom: 1px solid var(--white);
}

.nav-section .tag {
  background-color: var(--dark-purple);
  border-radius: 5px;
  padding: 3px 10px;
}

footer {
  background-color: var(--light-purple);
}

/* state */
#chosen .tag:hover {
  background-color: var(--light-purple);
  cursor: pointer;
}

.nav-section .tag:hover {
  cursor: pointer;
  background-color: var(--light-purple);
}

a:hover {
  background-color: var(--blue);
}

@media screen and (max-width: 600px) {
  header {
    margin: 30px 40px;
  }

  header p {
    font-size: 30px;
  }

  #nav {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
  }

  .nav-wrapper {
    height: 100%;
  }

  .nav-section {
    border: 2px solid var(--blue);
  }

  #chosen {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin-left: 0;
    margin-top: 10px;
  }

  #links-container {
    grid-column: 1 / -1;
    grid-row: 5 / -1;
    margin-left: 0;
  }
}

@media screen and (max-height: 500px) {
  header {
    margin: 10px 40px;
  }

  header p {
    font-size: var(--font-tiny);
  }

  hr {
    display: none;
  }

  .nav-section {
    padding: 10px;
  }

  .nav-title {
    display: none;
  }
}
