@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

:root {
    --yellow: #fefcdc;
    --pink: #fce6f8;
    --purple: #8d6d82;

    --font-size-huge: 54px;
    --font-size-medium: 23px;
    --font-size-regular: 18px;
}

/* base + layout */

.reset {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#header-container {
    width: 100%;
}

header {
    margin: 50px 75px;
}

header p {
    margin: 0;
    padding: 0 0 0 20px;
}

hr {
    width: 100%;
    border: 3px solid var(--yellow);
}

#central-section {
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 50px);
    overflow-y: scroll;
    padding: 0 50px;
}

#chosen {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    align-items: center;
    padding: 0 30px;
    margin-right: 50px;
}

#links-container {
    grid-column: 1 / 4;
    grid-row: 2 / -1;
    margin-right: 50px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#nav {
    grid-column: -2 / -1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-section {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 30px;
    gap: 10px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: var(--purple);
    flex-shrink: 0;
}

.link {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin: 0 50px 0 0;
    vertical-align: middle;
    font-size: var(--font-size-regular);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--purple);
    background-color: var(--yellow);
}

/* state */

/* theme */

body {
    font-size: var(--font-size-medium);
    font-family: 'Marmelad', sans-serif;
    color: var(--purple);
}

header p:first-child {
    font-size: var(--font-size-huge);
}

#chosen {
    /*
    background-color: var(--pink);
    border-radius: 15px;
    */
    border-left: 2px solid var(--pink);
    border-right: 2px solid var(--pink);
    border-top: 2px dashed var(--pink);
    border-bottom: 2px dashed var(--pink);
}

.nav-section {
    border-top: 2px solid var(--pink);
    border-bottom: 2px solid var(--pink);
    /*
    background-color: var(--pink);
    border-radius: 30px;
    */
    color: var(--purple);
    font-size: var(--font-size-regular);
}

.nav-section .tag {
    background-color: var(--pink);
    border-radius: 5px;
    padding: 3px 10px;
    opacity: 1;
}

#chosen::-webkit-scrollbar {
    display: none;
}

#chosen {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#links-container::-webkit-scrollbar {
    display: none;
}

#links-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-section::-webkit-scrollbar {
    display: none;
}

.nav-section {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
